.item:not(:last-of-type) {
    border-bottom: 1px solid rgba(128, 128, 128, 0.37);
    
}

.item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
        width: 110px;
        height: 75px;
        object-fit: cover;
    }


    .info > * {
        margin-bottom: 0.15rem;
    }

    .name {
        font-weight: 700;
    }

    .qBar {
        margin-top: 0.5rem;
        display: flex;
        gap: 0.55rem;
        align-items: center;
        user-select: none;

        .icon {
            border: 1px solid #000;
            border-radius: 50%;
            cursor: pointer;
        }

        .icon:hover, .icon:focus {
            background: #000;
            color: #fff;
        }
    }
}

.close {
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 10px;
    margin-left: auto;
    border-radius: 50%;
}

.close:hover, .close:focus {
    background: #000;
    color: #fff;
}
