.title {
    margin-bottom: 2rem;
    text-transform: capitalize;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(247px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(214px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
}

.tags {
    display: flex;
    gap: 1.25rem;
    margin-bottom: 1.35rem;

    .tag {
        font-size: 0.95rem;
        background: #b93750;;
        color: #fff;
        padding: 0.1rem 1rem;
        border-radius: 10px;
        cursor: pointer;
        transition: background 0.1s ease-in-out;

        &:hover, &:focus {
            background-color: #8d293d;
        }
    }
}

.tagged {
    background: #ea9b9b !important;

    &:hover, &:focus {
        background: #cc4848 !important;
    }
}