.btn {
    display: block;
    padding: 0.6rem 0;
    width: 100%;
    border: none;
    cursor: pointer;
    background: var(--spotify-green);
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    transition: font-size 0.1s ease-in-out;
}

.btn:hover, .btn:focus {
    font-size: 1.1rem;
    background: var(--spotify-green-hover);
    outline: none;
}