.btn {
    display: block;
    padding: 0.6rem 0;
    border-radius: 0.65rem;
    width: 90%;
    border: none;
    cursor: pointer;
    background: var(--spotify-green);
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    transition: font-size 0.1s ease-in-out;
    font-size: 0.875rem;
}

.btn:hover, .btn:focus {
    font-size: 0.975rem;
    background: var(--spotify-green-hover);
    outline: none;
}