.header {
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    .logo img {
        width: 100%;
    }

    nav {
        display: flex;
        gap: 2rem;
    }
}
