.header {
    border-bottom: 1px solid var(--text-primary);
    margin-bottom: 1rem;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    .logo img {
        width: 100%;
    }

    nav {
        position: relative;
        display: flex;
        align-items: center;
        gap: 2rem;
        color: var(--text-primary);

        a {
            font-weight: 600;
        }
    }

    .switch {
        top: 2px;

        .moon, .sun {
            position: absolute;
            top: 2px;
        }

        .moon {
            left: 1px;
        }

        .sun {
            right: 3px;
        }
    }
}
