.popup {
    width: 100%;
    border-radius: 5px;
    color: var(--text-primary);
    background: var(--card-color);
    border: 1px solid var(--text-primary);
    padding: 0.35rem 0.5rem;
    z-index: 9999;
    text-align: center;
}
