@import '../../styles/breakpoimts.scss';

.items {
    display: grid;
    grid-template-columns: 1fr;

    gap: 2rem;

    @include breakpoint-up('large') {
        grid-template-columns: 1fr 1fr;
    }
}

.empty {
    .title {
        margin-bottom: 1rem;
    }

    .redirect {
        font-size: 1.25rem;

        a {
            color: var(--link-color);
            font-weight: 900;
        }
    }
}
