@import '../../styles/breakpoimts.scss';

.items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    margin-bottom: 3rem;

    @media (min-width: 47em) {
        grid-template-columns: 1fr 1fr;
    }
}

.empty {
    .title {
        margin-bottom: 1rem;
    }

    .redirect {
        font-size: 1.25rem;

        a {
            color: var(--link-color);
            font-weight: 900;
        }
    }
}
