@import '../../styles/breakpoimts.scss';

.card {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 5px;
    color: var(--text-primary);
    box-shadow: var(--box-shadow);
    background: var(--card-product-color);
    display: flex;
    gap: 0.55rem;
    overflow: hidden;

    .header {
        width: 35%;
        img {
            aspect-ratio: 1.35/1;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 40% 30%;
            border-radius: 5px;
        }
    }

    .body {
        width: calc(65% - 0.55rem);
        padding: 0.55rem;
        display: flex;
        flex-direction: column;

        h3 {
            overflow: hidden;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            margin-bottom: 0.25rem;

            @include breakpoint-up(medium) {
                font-size: 1.25rem;
            }
        }

        .flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: auto;
            font-weight: 600;
        }

        .qty {
            span:nth-child(1) {
                font-size: 0.9rem;
            }
            
            span:nth-child(2) {
                font-size: .95rem;
            }
        }

        .total p {
            color: var(--spotify-green);
            font-size: 0.9rem;
        }
    }
}
