@import '../../styles/breakpoimts.scss';

.card {
    position: relative;
    flex: 1;
    cursor: pointer;
    border-radius: 5px;
    background: var(--card-color);
    color: var(--text-primary);
    box-shadow: var(--box-shadow);
    transition: all 0.1s ease-in-out;

    .header {
        padding: 1.65rem;
        img {
            border-radius: 50%;
            width: 100%;
            aspect-ratio: 1.1 / 1;
            object-position: center top;
            object-fit: cover;
        }
    }

    .body {
        padding: 0.75rem;
        text-align: center;

        h3 {
            font-size: 1.0625em;
        }

        span {
            // font-size: 0.25rem;
            color: var(--spotify-green);
            font-weight: 600;
        }
    }
}

.selected {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    background-color: #000000b9;
    cursor: not-allowed;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color: springgreen;
    font-size: 2rem;

    @include breakpoint-up(large) {
        font-size: 2.55rem;
    }
}

.card:hover, .card:focus {
    background: var(--card-color-hover);
    opacity: 0.7;
}
