section {
    padding-bottom: 2rem;
    margin-bottom: 3rem;

    .title {
        margin-bottom: 2rem;
        text-align: center;
    }

    .cards {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);

        @media (min-width: 40em) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

section > * {
    padding: 1rem;
}
